
.card-home-dashboard {
    margin-top: 10px;
    background-color: rgb(197, 207, 239);
    color: black;
    border-radius: 10px;
}

.lable-name {
    display: flex;
    text-align: start;

}

.row{
    display: flex;
    align-items: center;
}
.tt{
    display: flex;
    text-align: start;
   
}

.select-name {
    background-color: rgb(231, 220, 220);
    padding: 5px;
    text-align: start;
    display: flex;
}

.card-content-dashboard {
    background-color: rgb(197, 207, 239);
    padding: 10px;
   
}
.grid{
    padding: 0;
}
.col-dashboard{
    padding: 5px;
    background-color: rgb(197, 207, 239);
}
.card-content-grid {  
    padding: 5px; 
    padding-left: 0px;
    padding-right: 0px; 

   text-align: center;
}
.card-grid-dashboard{
    /* height: 85px; */
    margin: 5px;
    color: black;
    border-radius: 15px;
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.01); */
    background-color: rgb(231, 240, 249);
    
}
.text-11{
    border-bottom: 0.5px solid #dbdbdb;
    color: black;
    font-weight: bold;
  }
  .text-2{
    text-align: start;
    color: #007AFF;
    font-weight: bold;
  }
  .car-name{
    font-size: 19px;
  }
  .item-list-dashboard{
    padding: 5px;

    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.01);
  }

  


